.burgermenu {
  height: 90vh;
  width: 80vw;

  position: fixed;
  top: 0;
  z-index: 50;
  background-color: rgb(45, 45, 45);
  transform: translate(450px, 10vh);
  display: none;
  transition: all 0.4s ease-out;
}
.burgerlinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burgerlinks a,
.burgersocials {
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  /* background-color: red; */
}
.burgerlink {
  color: white;
}
.burgersocials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  margin-top: 100px;
}
.burgersocialicon i {
  font-size: 1.6rem;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(45, 45, 45);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.colorwhite {
  color: white;
}
.burgerremixicon {
  padding: 10px 15px;
  z-index: 55;
}
/* .show {
  transform: translate(80px, 10vh);
} */

@media only screen and (max-width: 431px) {
  .burgermenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* samsung */
@media only screen and (350px < width < 409px) {
  .show {
    transform: translate(60px, 10vh);
  }
}
@media only screen and (409px < width < 419px) {
  .show {
    transform: translate(70px, 10vh);
  }
}
/* iphone 14 */
@media only screen and (421px < width < 431px) {
  .show {
    transform: translate(80px, 10vh);
  }
}
