#singleBlogContainer {
  min-height: 90vh;
  width: 100vw;
  /* background-color: red; */
  padding: 30px 0;
}
.blogContainer {
  width: 70%;
  /* background-color: blue; */
  margin: auto;
}
.blogtitle {
  width: 85%;
  text-align: center;
  font-size: 1.9rem;
  margin: 20px auto 0px;
  font-weight: bold;
}
.blogdate {
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 0.9rem;
}
.introduction {
  width: 85%;
  text-align: left;
  margin: 30px auto 0px;
  font-size: 0.9rem;
}
.ytvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.indexhtml,
.stylecss {
  font-size: 0.9rem;
  margin: 1rem 0 1.5rem;
  position: relative;
}
.bold {
  font-weight: bold;
}
.fa-copy {
  padding: 10px;
  font-size: 1.7rem;
  color: white;
}
#copyhtml,
#copycss {
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  transform: translate(700px, 70px);
  /* top: 250%;
  right: 32%; */
}
#csscopied,
#htmlcopied {
  bottom: -30px;
  left: -5px;
  position: absolute;
  opacity: 0;
  color: white;
}
.ytvideo iframe {
  height: 315px;
  width: 560px;
}
.fa-copy {
  padding: 10px;
  font-size: 1.1rem;
  pointer-events: none;
}
@media only screen and (1200px < width <1300px) {
  #copyhtml,
  #copycss {
    transform: translate(570px, 80px);
  }
}
@media only screen and (max-width: 431px) {
  #singleBlogContainer {
    width: 100vw;
  }
  .blogContainer {
    width: 90%;
    /* background-color: blue; */
    margin: auto;
  }

  .blogtitle {
    font-size: 1.3rem;
  }

  .blogdate {
    display: flex;
    justify-content: center;
    color: gray;

    font-size: 0.8rem;
  }
  .introduction {
    font-size: 0.78rem;
    margin: 0px auto;
  }
  .ytvideo iframe {
    width: 90%;
    height: 230px;
  }
  .codes {
    padding: 0px 20px;
    overflow-x: hidden;
  }
  code {
    width: 90%;
    font-size: 0.65rem;
    max-height: 400px;
  }
  #copycss,
  #copyhtml {
    top: 13%;
    right: 10%;
  }
  .fa-copy {
    font-size: 0.9rem;
  }
  .links {
    display: none;
  }
  .logo {
    font-size: 1.7rem;
    margin: 0px 0px 0px 35px;
  }
}
