@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap");
/* new */
:root {
  --themeColor: rgb(173 59 59);
  --faded: rgb(176, 176, 176);
  --likedin: rgb(10, 102, 194);
  --instagram: linear-gradient(-35deg, #f9ce34, #ee2a7b, #6228d7);
  --youtube: #cd201f;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.navbar {
  transition: all 0.2s ease-out;
  z-index: 1;
  position: fixed;
  top: 0px;
  color: rgb(0, 0, 0);
  /* overflow-x: hidden; */
  background-color: white;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.082); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  height: 10vh;
}
.burgerclicked {
  background-color: rgb(45, 45, 45);
  color: white;
}
.noscroll {
  overflow-y: hidden;
}
.logo {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  flex: 0.35;
}
.links {
  flex: 0.35;
  position: relative;

  display: flex;
  height: 100%;
  /* background-color: red; */
}
.links a {
  font-size: 1.1rem;
  position: relative;
  width: 100px;
  /* background-color: red; */
  /* padding: 20px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  /* background-color: aqua; */
  overflow: hidden;
}

.line {
  position: absolute;
  left: -100%;
  transform: translateX(0);
  height: 4px;
  border-radius: 4px;
  width: 100px;
  background-color: black;
  bottom: 0px;
  transition: all 0.2s linear;
}
#blogline {
  height: 4px;
  bottom: 0px;
  display: none;
  border-radius: 4px;
  width: 100px;
  background-color: black;
  position: absolute;
}
.links a:hover > .line {
  left: 0;
}
#activeline {
  position: absolute;
  transition: all 0.25s linear;
  height: 4px;
  width: 100px;
  border-radius: 4px;
  bottom: 0;

  background-color: rgb(56, 56, 56);
}
.secondname {
  margin-left: 30px;
  color: var(--themeColor);
}

.name {
  font-family: "Satisfy", cursive;
  font-size: 4.5rem;
  font-size: bold;
}
.small {
  font-size: 14px;
}

.pic {
  transform: translateX(-400px);
  transition: all 0.6s ease;
  opacity: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  transform: translateX(+400px);
  transition: all 0.6s ease;
  opacity: 0;
}
.image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.image {
  height: 390px;
  width: 390px;

  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--themeColor);
}

.under {
  position: relative;
}
.underline {
  position: absolute;
  left: -55px;
  top: 22px;
  height: 1px;
  width: 250px;
  background-color: var(--faded);
  z-index: -5;
}
.under p {
  margin-top: 10px;
  color: var(--faded);
  background-color: white;
  padding: 0px 10px;
}

#home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 10vh;
  /* background-color: blue; */
}
#aboutme {
  overflow: hidden;
}
.burger {
  display: none;
}
.hello {
  font-size: 2.35rem;
}
.logo {
  padding: 10px 20px;
}
/* 1528 yo laptop ko resolution */
/* slight adjustment */
@media only screen and (1100px<width<1200px) {
  .socials {
    transform: translateX(-85px);
  }
  .intro {
    margin-left: 50px;
  }
  .hello {
    font-size: 1.6rem;
  }
  .name {
    font-size: 3.4rem;
  }
  .small {
    font-size: 0.8rem;
  }
}
@media only screen and (1300px<width<1500px) {
  .socials {
    transform: translateX(-25px);
  }
}

/* @media only screen and (1200px<width<1300px) { */
/* aaus */
@media only screen and (1200px < width < 1300px) {
  /* body {
    background-color: rgb(18, 199, 130);
  } */
  #projecttitle {
  }
  .project {
    height: 235px;
    width: 180px;
  }
  .links a {
    font-size: 1.03rem;
  }

  .intro {
    margin-left: 50px;
  }
  .hello {
    font-size: 1.2rem;
  }
  .name {
    font-size: 2.8rem;
  }
  .small {
    font-size: 0.8rem;
  }
  /* .image {
    height: 280px;
    width: 280px;
  } */
  .under {
    font-size: 0.9rem;
  }
  .socials {
    transform: translateX(-65px);
  }
}
@media only screen and (max-width: 431px) and (height < 745px) {
  .navbar {
    margin-bottom: 17px;
  }
}
/* iphone */
@media only screen and (max-width: 431px) {
  html {
    scroll-padding-top: 95px;
  }
  .socials {
    display: none;
  }
  #aboutme {
    padding-bottom: 50px;
  }
  /* #projectitle {
    margin-top: 0px;
  } */
  #abouttext {
    margin-top: 0;
  }
  /* .navbar {
    overflow-x: hidden;
  } */
  .burger {
    z-index: 100;
    display: block;
  }
  .links {
    display: none;
  }
  .logo {
    font-size: 1.6rem;
  }
  .navbar {
    width: 100%;
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 0 15px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  #home {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
  }
  .secondname {
    margin-left: 15px;
  }
  .pic {
    margin-bottom: 10px;
  }
  .intro {
    padding-bottom: 45px;
  }
  .intro-pic {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
  }

  .under {
    display: none;
  }
  .image {
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
  }
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .name {
    font-size: 2.8rem;
  }
  .hello {
    font-size: 1.3rem;
  }
  .small {
    font-size: 0.75rem;
  }
}
